<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A High quality and rich functions, friendly APIs, free and flexible UI Toolkit based on Vue.js.">
    <title>iView - A high quality UI Toolkit based on Vue.js</title>
    <link rel="shortcut icon" href="https://file.iviewui.com/file/favicon.ico">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>
</html>